.section .card-profile {
  margin-top: 50px;
}

.custom-section {
  .card {
    box-shadow: 0 6px 10px -4px #6c757d;
    background-color: #0b1011;
    .card-title {
      color: white;
    }
    .card-description {
      color: white;
    }
    .card-body .card-title {
      margin: 0;
      max-width: none;
    }
    .card-avatar {
      margin: 0;
      font-size: 5em;
      max-width: none;
    }
  }
}
