.get-in-touch-section {
  .card {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    .info-title {
      margin-top: 0;
    }
  }
  .getintouch-container {
    background-color: aliceblue;
  }
}
